<div class="index-main">
  <div class="featured-articles">
    <h2>Featured Articles</h2>
    <ul class="articles-list">
      <% @featured_articles.each do |article| %>
        <li class="featured-list">
          <%= link_to(article, class: "article-link") do %>
            <%= article.title %>
          <% end %>
          <br>
          <span class="article-list-subtitle"><%= article.subtitle %></span>
          <br>
          <span class="article-list-excerpt"><%= article.content[0..180] %>...</span>
          <br>
          <br>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="recently-added-articles">
    <h2>Recently Added Articles</h2>
    <ul class="articles-list">
      <% @recently_added_articles.each do |article| %>
        <li class="recent-list">
          <%= link_to(article, class: "article-link") do %>
            <%= article.title %>
          <% end %>
          <br>
          <span class="article-list-subtitle"><%= article.subtitle %></span>
          <br>
          <span class="article-list-excerpt"><%= article.content[0..80] %>...</span>
          <br>
          <br>
        </li>
      <% end %>
    </ul>
  </div>
</div>
