<div class="index-main search-results-container">
  <h2>Search results matching <em><%= @query %></em></h2>
  <h3>Title matches: </h3>
  <ul class="articles-list">
    <% @title_matches.each do |article| %>
      <%= link_to(article, class: "article-link") do %>
        <li><%= article.title %></li>
      <% end %>
    <% end %>
  </ul>

  <h3>Subtitle matches: </h3>
  <ul class="articles-list">
    <% @subtitle_matches.each do |article| %>
      <%= link_to(article, class: "article-link") do %>
        <li><%= article.title %></li>
      <% end %>
        <li class="article-list-subtitle"><%= article.subtitle %></li>
    <% end %>
  </ul>

  <h3>Content matches: </h3>
  <ul class="articles-list">
    <% @content_matches.each do |article| %>
      <%= link_to(article, class: "article-link") do %>
        <li><%= article.title %></li>
      <% end %>
    <% end %>
  </ul>
</div>
