<!DOCTYPE html>
<html>
<head>
  <title>MikeHub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <p class="header-links">
      <% if logged_in? %>
        Hello, <%= current_user.first_name %>! <%= link_to "Log out", sessions_logout_path %> | <%= link_to "Create a new article", articles_new_path %>
      <% else %>
        Hello, guest! <%= link_to "Log in", sessions_login_path %> or <%= link_to "Register", users_new_path %>
      <% end %>
      | <%= link_to "Home", root_path %>
    </p>
    <%= form_tag "/search", class: "searchbar", method: :post do %>
      <input type="text" name="search_term">
      <input type="submit" value="Search">
    <% end %>
    <h1 class="header-title">MikeHub</h1>
    <hr>
  </header>
<%= yield %>

  <hr>

  <footer>
  </footer>

</body>
</html>
