<div class="article_show">
  <% if logged_in? %>
    <% if current_user.articles.include?(@article) || current_user.admin %>
      <%= link_to 'Edit this article', new_edit_path(@article) %>
       | <%= link_to 'Delete this article', article_delete_path(@article), method: :delete %>
       | <%= link_to 'View suggested edits', view_all_edits_path(@article) %>
    <% else %>
      <%= link_to 'Suggest an edit to this article', new_edit_path(@article) %>
    <% end %>
  <% end %>


  <h3><%= @article.title %></h3>
  <h2><%= @article.subtitle %></h2>

  <span class="article-byline">Written by <%= link_to @article.author.full_name, user_path(@article.author) %></span>
  <br>
  <% if @article.has_edits? %>
    <span class="article-byline">
      Contributors:
      <% @edits.each do |edit| %>
        <span>
          <%= link_to(edit.editor) do %>
            <%= edit.editor.full_name %>
          <% end %>
        </span>
      <% end %>
    </span>
  <% end %>
  <p><%= make_html(@article.content)%></p>
</div>
