<div class="user_show">

<h3> <%= @user.first_name %> <%= @user.last_name %> </h3>
  <ul>
    <li> <%= @user.email %> </li>
    <li id ="profile_page_photo"> <%= image_tag(@user.img_url) %> </li>
    <% @articles.each do |article| %>
        <li class="article"> <a href="/articles/<%= article.id %>"> <%= article.title %> </a> </li>
     <% end %>
  </ul>
</div>

<% if admin_logged_in? %>
  <p> Delete this user by clicking <%= link_to "delete", user_delete_path(@user), method: :delete, data:{confirm: 'Are you sure you want to delete this user?'} %> <p>
  <p> Make this user an admin by clicking <%= link_to "here", admin_path(@user.id), method: :patch, data:{confirm: 'Are you sure you want to make this user an admin?'} %> </p>
<% end %>
