<h3> <%= @user.first_name %> <%= @user.last_name %> </h3>
  <ul>
    <li> $<%= @user.email %> </li>
    <li> <%= @user.img_url %> </li>
    <% @articles.each do |article| %>
        <li> <a href="/articles/<%= article.id %>"> <%= article.title %> </a> </li>
     <% end %>
  </ul>
